In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Iris.csv to Iris.csv

In [ ]:
import pandas as pd
import io
data = pd.read_csv('Iris.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
data['SepalWidthCm'].value_counts()

3.0    26
2.8    14
3.2    13
3.4    12
3.1    12
2.9    10
2.7     9
2.5     8
3.5     6
3.8     6
3.3     6
2.6     5
2.3     4
3.6     3
2.4     3
2.2     3
3.7     3
3.9     2
4.2     1
4.1     1
4.4     1
2.0     1
4.0     1
Name: SepalWidthCm, dtype: int64

In [ ]:
le=LabelEncoder()
data['Species']=le.fit_transform(data['Species'])
data['Species'].value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64

In [ ]:
le.classes_

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
data['Species'].value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64

In [ ]:
one_hot = OneHotEncoder()
transformed_data = one_hot.fit_transform(data['Species'].values.reshape(-1,1)).toarray()
one_hot.categories_

[array([0, 1, 2])]

In [ ]:
transformed_data = pd.DataFrame(transformed_data , 
columns = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'])
transformed_data.head()

   Iris-setosa  Iris-versicolor  Iris-virginica
0          1.0              0.0             0.0
1          1.0              0.0             0.0
2          1.0              0.0             0.0
3          1.0              0.0             0.0
4          1.0              0.0             0.0

In [ ]:
transformed_data.iloc[90, ]

Iris-setosa        0.0
Iris-versicolor    1.0
Iris-virginica     0.0
Name: 90, dtype: float64

In [ ]:
data['Species'][90]

1

**Normalization & Standardization**

In [ ]:
# consider only numerical columns
numeric_columns = [c for c in data.columns if data[c].dtype != np.dtype('O')]
numeric_columns

['Id',
 'SepalLengthCm',
 'SepalWidthCm',
 'PetalLengthCm',
 'PetalWidthCm',
 'Species']

In [ ]:
len(numeric_columns) , len(data.columns)

(6, 6)

In [ ]:
numeric_columns.remove('Id')

In [ ]:
temp_data = data[numeric_columns]
temp_data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.1           3.5            1.4           0.2        0
1              4.9           3.0            1.4           0.2        0
2              4.7           3.2            1.3           0.2        0
3              4.6           3.1            1.5           0.2        0
4              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        2
146            6.3           2.5            5.0           1.9        2
147            6.5           3.0            5.2           2.0        2
148            6.2           3.4            5.4           2.3        2
149            5.9           3.0            5.1           1.8        2

[150 rows x 5 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler
import warnings
warnings.filterwarnings('ignore')
normalizer = MinMaxScaler()
temp_data.dropna(axis = 1 , inplace = True)
normalized_data = normalizer.fit_transform(temp_data)
pd.DataFrame(normalized_data , columns = temp_data.columns)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0         0.222222      0.625000       0.067797      0.041667      0.0
1         0.166667      0.416667       0.067797      0.041667      0.0
2         0.111111      0.500000       0.050847      0.041667      0.0
3         0.083333      0.458333       0.084746      0.041667      0.0
4         0.194444      0.666667       0.067797      0.041667      0.0
..             ...           ...            ...           ...      ...
145       0.666667      0.416667       0.711864      0.916667      1.0
146       0.555556      0.208333       0.677966      0.750000      1.0
147       0.611111      0.416667       0.711864      0.791667      1.0
148       0.527778      0.583333       0.745763      0.916667      1.0
149       0.444444      0.416667       0.694915      0.708333      1.0

[150 rows x 5 columns]

In [ ]:
standard_scaler = StandardScaler()
standardized_data = standard_scaler.fit_transform(temp_data)
pd.DataFrame(standardized_data , columns = temp_data.columns)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm   Species
0        -0.900681      1.032057      -1.341272     -1.312977 -1.224745
1        -1.143017     -0.124958      -1.341272     -1.312977 -1.224745
2        -1.385353      0.337848      -1.398138     -1.312977 -1.224745
3        -1.506521      0.106445      -1.284407     -1.312977 -1.224745
4        -1.021849      1.263460      -1.341272     -1.312977 -1.224745
..             ...           ...            ...           ...       ...
145       1.038005     -0.124958       0.819624      1.447956  1.224745
146       0.553333     -1.281972       0.705893      0.922064  1.224745
147       0.795669     -0.124958       0.819624      1.053537  1.224745
148       0.432165      0.800654       0.933356      1.447956  1.224745
149       0.068662     -0.124958       0.762759      0.790591  1.224745

[150 rows x 5 columns]

**Handling With Missing Values**

In [ ]:
numeric_data = data[numeric_columns]
numeric_data.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
# Adding values in empty columns for 'SepalLengthCm' column
numeric_data['SepalLengthCm'].isnull().sum()

0

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan,strategy='mean')
agent_col = imputer.fit_transform(numeric_data)
pd.DataFrame(agent_col).isnull().sum()

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
temp_data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [ ]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='quantile')
new_data = trans.fit_transform(temp_data)
pd.DataFrame(new_data,columns = temp_data.columns )

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              2.0           7.0            1.0           1.0      0.0
1              1.0           4.0            1.0           1.0      0.0
2              0.0           6.0            0.0           1.0      0.0
3              0.0           5.0            2.0           1.0      0.0
4              2.0           7.0            1.0           1.0      0.0
..             ...           ...            ...           ...      ...
145            8.0           4.0            7.0           8.0      1.0
146            7.0           1.0            7.0           7.0      1.0
147            7.0           4.0            7.0           7.0      1.0
148            6.0           7.0            8.0           8.0      1.0
149            5.0           4.0            7.0           6.0      1.0

[150 rows x 5 columns]

**Uniform Discretization Transform**

In [ ]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='uniform')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              2.0           6.0            0.0           0.0      0.0
1              1.0           4.0            0.0           0.0      0.0
2              1.0           5.0            0.0           0.0      0.0
3              0.0           4.0            0.0           0.0      0.0
4              1.0           6.0            0.0           0.0      0.0
..             ...           ...            ...           ...      ...
145            6.0           4.0            7.0           9.0      9.0
146            5.0           2.0            6.0           7.0      9.0
147            6.0           4.0            7.0           7.0      9.0
148            5.0           5.0            7.0           9.0      9.0
149            4.0           4.0            6.0           7.0      9.0

[150 rows x 5 columns]

**KMeans Discretization Transform**

In [ ]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='kmeans')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              2.0           6.0            1.0           0.0      0.0
1              1.0           4.0            1.0           0.0      0.0
2              1.0           4.0            1.0           0.0      0.0
3              0.0           4.0            1.0           0.0      0.0
4              1.0           6.0            1.0           0.0      0.0
..             ...           ...            ...           ...      ...
145            6.0           4.0            6.0           9.0      2.0
146            5.0           2.0            6.0           7.0      2.0
147            6.0           4.0            6.0           7.0      2.0
148            5.0           5.0            7.0           9.0      2.0
149            4.0           4.0            6.0           7.0      2.0

[150 rows x 5 columns]